* {
  box-sizing: border-box;
}

.container {
  border: 4px solid lightgrey;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.box {
  border: 2px solid lightgrey;
  width: 100%;
  height: 25%;
  
}

.bigbox {
  border: 2px solid lightgrey;
  height: 100px;
  width: 50%;
  margin: 0 0 0 30px;
}

.box-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
